<div *ngIf="show">
  <div class="row" *ngIf="finalConfig.searchEnable">
    <div class="input-group input-group-sm mb-3 col-5 offset-7">
      <input type="text" class="form-control">
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="showTable">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col" *ngIf="finalConfig.rowSelection">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck" (change)="selectAllRows()">
            </div>
          </th>
          <th scope="col" *ngFor="let header of finalConfig.headers">{{header.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of finalConfig.records; let i = index">
          <th scope="col" *ngIf="finalConfig.rowSelection">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{record}}" id="defaultCheck{{i}}"
                     name="foo{{i}}" value="{{record}}" (change)="updateRowSelection(record, $event)">
            </div>
          </th>
          <td *ngFor="let header of finalConfig.headers">{{record[header.value]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--<app-pagination [count]="finalConfig.dataCount" [records]="finalConfig.records" (data)></app-pagination>-->
</div>
