<div>
  <h2>Highchart POC</h2>
</div>

<!--
@app-base-line-chart
  @attr: category
    line-chart | datatable
  @attr: type
    line || bar
  @attr: selection
    format: <graph selection type>-<feature>
    example:
      multiple-reject -> multiple points can be selected at once and removed
      single-reject -> single point can be removed at a time
-->

<!--<app-base-line-chart category="line-chart" type="lineChart" selection="multiple"></app-base-line-chart>-->
<!--<app-base-line-chart category="line-chart" type="heatmap"></app-base-line-chart>-->
<!--<app-base-line-chart category="datatable"></app-base-line-chart>-->
<div class="container">
  <div class="row">
    <app-base-component></app-base-component>
  </div>
</div>
