<div>
  <h2>Highchart POC</h2>
</div>

<!--
@app-base-chart
  @attr: category
    chart | datatable
  @attr: type
    line || bar
  @attr: selection
    format: <graph selection type>-<feature>
    example:
      multiple-reject -> multiple points can be selected at once and removed
      single-reject -> single point can be removed at a time
-->

<app-base-chart category="chart" type="lineChart" selection="multiple"></app-base-chart>
<app-base-chart category="chart" type="heatmap"></app-base-chart>
<app-base-chart category="datatable"></app-base-chart>
